@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none; /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

ul {
  list-style: none;
}

/*
  * Colors
*/
/*
  * Variables
*/
body {
  margin-bottom: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #262f56;
  background-color: #ffffff;
}

#app {
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
  overflow-x: hidden;
}

.container {
  display: block;
  width: 100%;
  max-width: 1310px;
  margin-inline: auto;
  padding-inline: 10px;
}
@media (max-width: 767px) {
  .container {
    max-width: 600px;
  }
}

.btn {
  display: block;
  width: 100%;
  max-width: max-content;
  padding: 14px 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: #262f56;
  background-color: #f6f6f6;
  border-radius: 6px;
  transition: all 0.4s ease;
  cursor: pointer;
}
.btn.btn-green {
  color: #ffffff;
  background-color: #00c659;
}

.btn-dots {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../img/icons/icon-dots.svg") center/contain no-repeat;
  cursor: pointer;
}

.badge {
  display: block;
  width: 100%;
  max-width: max-content;
  padding: 6px 8px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #262f56;
  background-color: #f6f6f6;
  border-radius: 100px;
}
.badge.badge-purpure {
  color: #b02bc8;
  background-color: rgba(176, 43, 200, 0.12);
}
.badge.badge-red {
  color: #c82b32;
  background-color: rgba(200, 43, 50, 0.12);
}
.badge.badge-green {
  color: #00c659;
  background-color: rgba(0, 198, 89, 0.12);
}

.verified {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/icons/verified.svg") center/contain no-repeat;
}

.rating-stars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 100%;
  max-width: 124px;
}
.rating-stars svg {
  width: 16px;
  height: 16px;
  fill: #c7c7c7;
  object-fit: contain;
}
.rating-stars svg.full {
  fill: #f3bb44;
}
.rating-stars p {
  display: block;
  width: 100%;
  max-width: max-content;
  margin-left: 3px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: #262f56;
}

.comments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  max-width: max-content;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: #262f56;
}
.comments:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/icons/comments.svg") center/contain no-repeat;
}

.gift {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  max-width: max-content;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: #262f56;
}
.gift:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/icons/gift.svg") center/contain no-repeat;
}
.gift:after {
  content: " ₽";
  display: inline-block;
}

.table-title {
  display: block;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #262f56;
}

.table-label {
  display: block;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #262f56;
}
.table-label.active {
  font-weight: 500;
}

.table-bottom-link {
  display: block;
  width: 100%;
  max-width: max-content;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #262f56;
  cursor: pointer;
}
.table-bottom-link.icon-link:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-left: 4px;
  background: url("../img/icons/arrow-right-dark.svg") center/contain no-repeat;
}
.table-bottom-link.link-green {
  text-decoration: underline;
  color: #00c659;
}

@media (max-width: 991px) {
  .btn {
    padding: 12px;
  }
}
@media (max-width: 768px) {
  .table-title {
    font-size: 18px;
  }
  .table-label {
    font-size: 12px;
  }
  .table-bottom-link {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .btn {
    font-size: 10px;
  }
  .gift {
    font-size: 12px;
  }
  .gift:before {
    width: 12px;
    height: 12px;
  }
  .verified {
    width: 12px;
    height: 12px;
  }
  .rating-stars p {
    font-size: 12px;
    text-decoration: underline;
  }
  .badge {
    padding: 4px 6px;
    font-size: 8px;
  }
}
@media (max-width: 400px) {
  .btn {
    padding: 11px;
  }
}
body {
  padding-block: 4vh;
}

.table-container {
  display: block;
  width: 810px;
  max-width: calc(100% - 32px);
  margin: 0 auto 8px auto;
  border: 1px solid #d9eafa;
  border-radius: 16px;
}
.table-container .table-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 30px 12px 30px;
}
.table-container .table-header .table-title {
  max-width: calc(100% - 40px);
}
.table-container .table-header .table-open-modal {
  position: relative;
}
.table-container .table-header .table-open-modal .table-filter-items {
  position: absolute;
  top: 150%;
  right: 0;
  width: 260px;
  padding: 14px;
  background-color: #ffffff;
  z-index: 9999;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  border: 1px solid #d9eafa;
  cursor: pointer;
}
.table-container .table-header .table-open-modal .table-filter-items .table-filter-item {
  position: relative;
  padding-left: 40px;
}
.table-container .table-header .table-open-modal .table-filter-items .table-filter-item:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border: 1px solid #00c659;
  transform: translateY(-50%);
  transition: all 0.4s ease;
}
.table-container .table-header .table-open-modal .table-filter-items .table-filter-item.active:before {
  border-width: 5px;
}
.table-container .table-header .table-open-modal .table-filter-items .table-filter-item:not(:last-child) {
  margin-bottom: 8px;
}
.table-container .table-header .table-open-modal .table-filter-items.active {
  top: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
}
.table-container .table-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-top: 16px;
  padding-inline: 24px;
  border-block: 1px solid #d9eafa;
}
.table-container .table-filters .table-filter {
  position: relative;
  max-width: max-content;
  padding-block: 22px;
  cursor: pointer;
}
.table-container .table-filters .table-filter.active:after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #00c659;
  border-radius: 4px;
}
.table-container .table-body {
  display: block;
  width: 100%;
}
.table-container .table-body .table-line {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding-block: 15px;
  padding-inline: 20px;
  transition: all 0.4s ease;
}
.table-container .table-body .table-line .table-line__image {
  position: relative;
}
.table-container .table-body .table-line .table-line__image .verified {
  position: absolute;
  top: -7px;
  right: -7px;
}
.table-container .table-body .table-line .table-line__rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 224px;
}
.table-container .table-body .table-line .table-line__badge {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  max-width: 100px;
}
.table-container .table-body .table-line .table-line__controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 180px;
}
.table-container .table-body .table-line:not(:last-child) {
  border-bottom: 1px solid #d9eafa;
}
.table-container .table-body .table-not-found {
  display: block;
  width: 100%;
  min-height: 280px;
}
.table-container .table-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: 26px;
  padding-inline: 20px;
  border-top: 1px solid #d9eafa;
}
.table-container .table-footer .table-bottom-link {
  max-width: max-content;
}

.table-show-more {
  display: none;
  width: 810px;
  max-width: calc(100% - 32px);
  margin: 0 auto;
  padding: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: #262f56;
  border: 1px solid #d9eafa;
  border-radius: 8px;
}

@media (max-width: 991px) {
  .table-container .table-body .table-line .table-line__controls {
    max-width: 130px;
  }
}
@media (max-width: 767px) {
  .table-container .table-header {
    padding: 12px 20px;
  }
  .table-container .table-filters {
    margin-top: 0;
    padding-inline: 20px;
  }
  .table-container .table-filters .table-filter {
    padding-block: 16px;
  }
  .table-container .table-body .table-line .table-line__image {
    display: block;
    width: 100%;
    max-width: 80px;
  }
  .table-container .table-body .table-line .table-line__rating {
    max-width: 46px;
  }
  .table-container .table-body .table-line .table-line__rating .rating-stars svg:not(:first-child) {
    display: none;
  }
  .table-container .table-body .table-line .table-line__rating .rating-stars p {
    display: block;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  .table-container .table-body .table-line .table-line__rating .comments {
    display: none;
  }
  .table-container .table-body .table-line .table-line__controls {
    max-width: 140px;
  }
  .table-container .table-footer {
    padding-block: 16px;
  }
}
@media (max-width: 576px) {
  .table-container {
    border-radius: 8px;
  }
  .table-container .table-header {
    padding-inline: 12px;
    border-bottom: 1px solid #d9eafa;
  }
  .table-container .table-filters,
  .table-container .table-footer {
    display: none;
  }
  .table-container .table-body .table-line {
    gap: 9px;
    padding: 12px;
  }
  .table-container .table-body .table-line .table-line__image .verified {
    top: -3px;
    right: -4px;
  }
  .table-container .table-body .table-line .table-line__controls {
    max-width: 116px;
  }
  .table-show-more {
    display: block;
  }
}
@media (max-width: 460px) {
  .table-container .table-body .table-line .table-line__rating {
    max-width: 24px;
  }
  .table-container .table-body .table-line .table-line__badge {
    max-width: 70px;
  }
}
@media (max-width: 400px) {
  .table-container .table-body .table-line {
    gap: 6px;
    padding-inline: 10px;
  }
  .table-container .table-body .table-line .table-line__controls {
    max-width: 110px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .btn.btn-green:hover {
    color: #262f56;
    background-color: #f6f6f6;
  }
  .table-container .table-body .table-line:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}/*# sourceMappingURL=app.css.map */