@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}
a:active, a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none; /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

ul {
  list-style: none;
}

/*
  * Colors
*/
/*
  * Variables
*/
body {
  margin-bottom: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #262f56;
}

#app {
  position: relative;
  max-width: 1920px;
  margin-inline: auto;
  overflow-x: hidden;
}

.container {
  display: block;
  width: 100%;
  max-width: 1310px;
  margin-inline: auto;
  padding-inline: 10px;
}
@media (max-width: 767px) {
  .container {
    max-width: 600px;
  }
}

.btn {
  display: block;
  width: 100%;
  max-width: max-content;
  padding: 14px 24px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  color: #262f56;
  background-color: #f6f6f6;
  border-radius: 6px;
  border: 1px solid #f6f6f6;
  transition: all 0.4s ease;
  cursor: pointer;
}
.btn.btn-green {
  color: #ffffff;
  background-color: #00c659;
  border-color: #00c659;
}

.badge {
  display: block;
  width: 100%;
  max-width: max-content;
  padding: 6px 8px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #262f56;
  background-color: #f6f6f6;
  border-radius: 100px;
}
.badge.badge-purpure {
  color: #b02bc8;
  background-color: rgba(176, 43, 200, 0.12);
}
.badge.badge-red {
  color: #c82b32;
  background-color: rgba(200, 43, 50, 0.12);
}
.badge.badge-green {
  color: #00c659;
  background-color: rgba(0, 198, 89, 0.12);
}

.verified {
  display: block;
  width: 12px;
  height: 12px;
  background: url("../img/icons/verified.svg") center/contain no-repeat;
}

.rating-stars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3px;
  width: 100%;
  max-width: 124px;
}
.rating-stars svg {
  width: 16px;
  height: 16px;
  fill: #c7c7c7;
  object-fit: contain;
}
.rating-stars svg.full {
  fill: #f3bb44;
}
.rating-stars p {
  display: block;
  width: 100%;
  max-width: max-content;
  margin-left: 3px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: #262f56;
}

.comments {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  max-width: max-content;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: #262f56;
}
.comments:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/icons/comments.svg") center/contain no-repeat;
}

.gift {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  max-width: max-content;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.4;
  color: #262f56;
}
.gift:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/icons/gift.svg") center/contain no-repeat;
}
.gift:after {
  content: " ₽";
  display: inline-block;
}

.table-title {
  display: block;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 25px;
  color: #262f56;
}

.table-label {
  display: block;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #262f56;
}
.table-label.active {
  font-weight: 500;
}

.table-bottom-link {
  display: block;
  width: 100%;
  max-width: max-content;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #262f56;
  cursor: pointer;
}
.table-bottom-link.icon-link:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-left: 4px;
  background: url("../img/icons/arrow-right-dark.svg") center/contain no-repeat;
}
.table-bottom-link.link-green {
  text-decoration: underline;
  color: #00c659;
}

@media (hover: hover) and (pointer: fine) {
  .btn:not(.btn-green):hover {
    background-color: #f6f6f6;
  }
  .btn:hover {
    color: #262f56;
    background-color: transparent;
  }
}/*# sourceMappingURL=app.css.map */